@tailwind base;
@tailwind components;
@tailwind utilities;

.text-sm, .text-base, .sm\:text-sm {
    font-size: 1.0rem !important;
}
.typewriter h1 {
    overflow: hidden;
    border-right: .015em solid white;
    white-space: nowrap;
    letter-spacing: .055em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.typewriter div {
    width: fit-content;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

@tailwind variants;
